<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <div id="user-data" class="form-group">
          <label for="email">Email</label>
          <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
                #email="ngModel" />
          <span class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid email address.</span>
          <label for="email">Password</label>
          <input
                type="password"
                id="pass"
                class="form-control"
                ngModel
                name="pass"
                required
                #pass="ngModel" />
        </div>
        <span class="help-block" *ngIf="pass.invalid && pass.touched">Please enter a valid password.</span>
        <div class="form-group">
          <select
              name="subscriptionType"
              id="subscriptionType"
              [ngModel]="defaultSelection"
              >
              <option *ngFor="let sub of subscriptions" value="{{ sub.toLowerCase() }}">{{ sub }}</option>
            </select>
        </div>

        <button
            class="btn btn-primary"
            type="submit"
            [disabled]="signupForm.invalid">Submit</button>
      </form>

      <span class="help-block" *ngIf="signupForm.invalid && signupForm.touched">The information above is invalid, please check each field for correctness.</span>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Your Data:</h3>
        <p>Email: {{ customer.email }}</p>
        <p>Password: {{ customer.email }}</p>
        <p>Gender: {{ capitalizeFirstLetter(customer.subscription) }}</p>
    </div>
  </div>
</div>
